spring:
  datasource:
    url: jdbc:mysql://EC2_PUBLIC_IP/link_deco_dev
    username: dev_user
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver

  docker:
    compose:
      enabled: false

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true